
body {
	margin: 0;
}
.carre {
	height: 50px;
	width: 50px;
	background-color: red;
	position: absolute;
	float: left;
}
.container {
	margin: 0;
	height: 50px;
	width: auto;
	margin-bottom: 5px;
}
 #button{
 	 background-color:#33bbef;
 	 width:60px;
 	 height:40px;
 	 margin:20px;
 	 text-align:center;
 	 border-radius:10px;
  }
